.view {
    margin-right: 3px
}
.input-save-btn {
    background-color: rgb(71, 112, 10);
    color: black;
    border-radius: 10px;
    width: 100px;
}
.input-delete-btn {
    background-color: rgb(126, 26, 26);
    color: whitesmoke;
    border-radius: 10px;
    width: 100px;
}

.input-view-btn {
    background-color: rgb(190, 190, 36);
    color: whitesmoke;
    border-radius: 10px;
    width: 100px;
}
.icon-zoom-in {
    padding-right: 20px;
    size: large;
}